/* 
    Document   : style
    Created on : 4/Fev/2013, 3:02:11
    Author     : Marcelo Maia
    Description:
        Purpose of the stylesheet follows.
*/

body{
   background-image: url('../img/37.png');
   background-color: rgb(69, 199, 53);

}

table{
    background-color: white;
}


#div-menu-home {
    
    text-align: center;
}
