/* 
    Document   : style
    Created on : 4/Fev/2013, 3:02:11
    Author     : Marcelo Maia
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    height: 93%;
}
body > #wrap {
    height: auto; 
    min-height: 100%;
}
body{
    background-image: url('../img/37.png');
    background-color: rgb(69, 199, 53);
}
#main {
    padding-bottom: 75px; /* deve ser a mesma altura do rodapé */
}  
#footer {
    text-align: center;
    margin-left: 30px;
    position: relative;
    bottom: 0px;
    height: 75px;
    width: 92%;
    clear: both;
} 
/*
  position: fixed;
    margin-top: ; / A mesma altura do rodapé, o valor deve ser negativo /
    height: 75px;
    width: 98%;
    text-align: center;
    clear: both;
*/


table{
    background-color: white;
}

#div-menu-home {
    text-align: center;
}